* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: var(--light-bg);
    color: var(--text);
    overflow-x: hidden;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  li {
    text-align: start;
  }

  ul {
    margin: 0;
    padding: 10px;
  }

  .container i {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  
  h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    margin: 0;
    color: var(--text);
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
  }
  
  a:hover {
    color: var(--blue);
    transform: scale(1.05);
  }
  
  .active {
    color: var(--blue);
    transform: scale(1.05);
  }

  label {
    margin-top: 15px;
    display: block;
    font-weight: 600;
  }

  .chart-box {
      width: 100%;
      max-width: 600px; 
      margin: 0 auto;
      display: flex;
      justify-content: center;
  }
  
  .chart-box canvas {
      max-height: 350px; 
  }
  