
.profile-section {
    padding: 80px 0;
  }
  
  .profile-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  .profile-card {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
    
  }
  
  .profile-avatar {
    width: 110px;
    height: 110px;
    background: var(--blue);
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .profile-info h3 {
    font-size: 1.7rem;
    margin: 0;
  }
  
  .profile-info p {
    margin-top: 6px;
    color: var(--blue);
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .profile-info i {
   margin: 0;
   color: var(--blue);
   font-size: 1.2rem;
   margin-right: 10px;
  }
  
  .profile-stats {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
  }
  
  .profile-stat-card {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    transition: all 0.3s ease;
  }

  .profile-stat-card:hover {
    transform: translateY(-6px);
    background-color: var(--light-bg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }

  .profile-stat-card h4 {
    font-size: 1.2rem;
    margin: 0;
  }
  
  .profile-stat-card span {
    display: block;
    margin-top: 10px;
    font-size: 34px;
    font-weight: 700;
    color: var(--blue);
  }
  
  .profile-actions {
    display: flex;
    gap: 20px;
  }

  .profile-actions a i {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  
  .profile-actions a {
    align-items: center;
    font-size: 1.2rem;
  }
  
  .profile-btn {
    flex: 1;
    text-align: center;
    background: var(--blue);
    color: white;
    padding: 15px;
    border-radius: 14px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.25s;
    align-items: center;
  }
  

  