  @import url('variables.css');
  @import url('base.css');
  @import url('header.css');
  @import url('hero.css');
  @import url('how.css');
  @import url('features.css');
  @import url('partners.css');
  @import url('footer.css');
  @import url('animations.css'); 
  @import url('about.css');
  @import  url('contacts.css');
  @import url('profile.css');
  @import url('projects.css');
  @import url('add-project.css');
  @import url('responsive.css'); 